*{
  margin: 0;
  box-sizing: border-box;
}
html{
  $fontSize:14px;
 $buttonHeight:32px;
 $buttonBg: #fff;
 $buttonActive-bg:#eee;
 $borderRadius:4px;
  $Color:#333;
 $borderColor:#999;
 $borderColorHover:#666;
}
body{
  font-size: 14px;
}